html,body {
	margin: 0;
	font-family: "Arial", Gadget, sans-serif;
}

body {
  width: 800px;
  background-color: white;
  border-style: solid;
  border-color: black;
  margin: auto;
  background-image: url("../images/bats.gif");
  z-index: -1;
}

#container {
  background-color: white;
  z-index: 99;
}


#pumpkin {
	float: left;
	padding-top: 1%;
}

#pumpkin img {
	display: inline-block;
}

#cat {
	display: block;
}

#cat-description {
	font-size: 18px;
	color: orange ;
}

#header-text {
	padding-top: 1%;
	margin-left: 10%;
	line-height: 10px;
}

#page-header {
	width: 100%;
    border-bottom: 2px solid black;
    overflow: auto;
}

#page-footer {
	text-align: center;
   border-top: 2px solid black;
   position:fixed;
   left:0px;
   bottom:0px;
   height:30px;
   width:100%;
}

.gradient-container {
 	background: orange;
 	background: linear-gradient(to right, white, orange, black);
}

.gradient-container-footer {
 	background: orange;
 	background: linear-gradient(to right, black, orange, white);
}

aside {
  float: left;
  width: 155px;
  height: 100%;
  padding-top: 20px;
  padding-right: 25px;
  margin-bottom: 350px;
}

/*aside ul {
  padding-left: 5px;
}*/

li a {
  display: block;
  text-decoration: underline;
  color: orange;
  font-size: 16px;
}

#welcome {
	letter-spacing: 2px;
}
#welcome::first-letter {
	font-size: 62px;
}

.text-right {
	font-family: Arial, Helvetica, sans-serif;
}
